html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#flex-container {
	display: flex;
	flex-direction: column;	
			
}

.flex-content {
	flex: 1;
	background-color: gray;
	min-height: 100%;		
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}


#left {
	background-color: #bde7dd;
			
}
	main {
		/*
		H1 Header
		Visual Graphic
		Current-Word Blank
		*/
	}

#center {
	background-color: #a0d0ce;
	
	
	
}
	#character-pool {
		/*Letters A-Z stacked vertically, inline block?*/
	}

#right {
	background-color: #b2e0e7;
	
	

}
	aside {
		/*
		Multiple headings
		Instructions
		Score
		Other info
		*/
	}

footer {
	height: 20vh;
}