html,
body {
	height: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#flex-container {
	display: flex;
	flex-direction: column;	
			
}

.flex-content {
	flex: 1;
	background-color: gray;
	height: 100%;		
}

.letter {	
	display: block;
	text-decoration: none;
	margin: 0 auto;
	padding: 0;
	font-size: 5vh;
	line-height: 3.8vh;
	text-align: center;

}

.row {
	height: 100%;
}

#left {
	background-color: #bde7dd;
			
}
	main {
		/*
		H1 Header
		Visual Graphic
		Current-Word Blank
		*/
	}

#center {
	background-color: #a0d0ce;
	
	
	
}
	#character-pool {
		/*Letters A-Z stacked vertically, inline block?*/
	}

#right {
	background-color: #b2e0e7;
	
	

}
	aside {
		/*
		Multiple headings
		Instructions
		Score
		Other info
		*/
	}

footer {
	max-height: 20vh;
	background-color: white;
}